@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: sans-serif;
  background-color: #f7f7f7;

  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-color {
  background: linear-gradient(101.71deg, #E7AAE0 -0.52%, #3E1FFF 100%);
}

.bg-banner {
  background: linear-gradient(90.66deg, #6C63FF 0%, #EE9AE5 100%);
}

.text-color {
  background: linear-gradient(90.59deg, #EE9AE5 0%, #6C63FF 99.79%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}